
* {
    /* box-sizing: border-box; */
    font-family: 'Raleway', sans-serif;
  }

  a {
    background-color: transparent;
    list-style: none;
    text-decoration: none;
}

  body {
    display: grid;
    grid-template-columns: 25% 70%;
    background-image: url("https://images.unsplash.com/photo-1524169113253-c6ba17f68498?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  } 

  .side-bar a:hover{ 
    color: #FCF7FF;
    text-decoration: none; 
    list-style-type: none;
  } 

  .side-bar {
    color: #FCF7FF;
    background-image: url("https://images.unsplash.com/photo-1524169113253-c6ba17f68498?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    display: flex;
    flex-direction: column;
    grid-row: 1/ span 5;
    height: 100%;
    opacity: .9;
    
  }

  .profile {
    text-align: center;
    padding-bottom: 1em;
    margin: 40px 0px 10px 0px ;
    /* margin:10px;
    height: 10px; */
    /* width: ; */
  }

  .profile-image {
    background-color: rgb(97, 249, 213);
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    text-align: center;
    opacity: .7;
    padding: 1em;
    width: 100px;
  }

  .profile-name {
    margin: 5px;
    padding: 4px;
  }

  .menu-section {
    color: lavenderblush;
    text-align: center;
    list-style: none;
    padding: 15px;
  }

  .menu-title{
    margin: 0px 10px 0px 10px;
    padding: 15px 0px 5px 0px;
  }

  .side-bar li{
    border: .5px solid #9f8686;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: .8em;
    text-align: left;
    text-transform: lowercase;
    letter-spacing: .7px;
    margin: 10px;
    padding: 8px;
  }

  .side-bar li:hover{
    border-left: 4px solid orangered;
    padding: 9px;
  }

  .side-bar a {
    color: rgb(97, 249, 213);
    list-style-type: none;
  }

  .search-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: coral;
    height: 4em;
  }

  .search-bar i{
    padding: 1em;
  }

  .search-box {
    margin: 0em 2em 0em 2em;
  }

  .title-section {
    color: #4fb29c;
    display: flex;
    background-color: #2badd954;
    justify-content: space-between;
    margin: 0% 0% 2% 2%;
    padding: 5%;
  }

  .title-section button {
    display: inline-block;
    border: none;
    border-radius: 13%;
    padding: 3%;
  }

  .title-section button:hover,
  button:focus {
      background: #7397c2;
      transform: scale(0.99);
  }

  .tab-section {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: indianred;
    border-bottom: 2px solid black;
    cursor: pointer;
    text-transform: lowercase;
  }

  .main-container {
    background-color: rgb(154, 127, 174);
    display: grid;
    grid-template-rows: repeat(5, 10fr);
    grid-template-columns: repeat(2, 10fr);
}

