
* {
    /* box-sizing: border-box; */
    font-family: 'Raleway', sans-serif;
  }

  a {
    background-color: transparent;
    list-style: none;
    text-decoration: none;
}

  body {
    display: grid;
    grid-template-columns: 20% 80%;
    background-image: url("https://images.unsplash.com/photo-1524169113253-c6ba17f68498?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
  } 

  .side-bar a:hover{ 
    color: #FCF7FF;
    text-decoration: none; 
    list-style-type: none;
  } 

  .side-bar {
    color: #FCF7FF;
    background-image: url("https://images.unsplash.com/photo-1524169113253-c6ba17f68498?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    display: flex;
    flex-direction: column;
    grid-row: 1/ span 5;
    height: 100%;
    opacity: .9;
    
  }

  .profile {
    text-align: center;
    padding-bottom: 1em;
    margin: 40px 0px 10px 0px ;
    /* margin:10px;
    height: 10px; */
    /* width: ; */
  }

  .profile-image {
    background-color: rgb(97, 249, 213);
    border-radius: 50%;
    display: inline-block;
    height: 70px;
    opacity: .7;
    padding: .4em;
    text-align: center;
    width: 73px
  }

  .profile-name {
    margin: 5px;
    padding: 4px;
  }

  .menu-section {
    color: lavenderblush;
    text-align: center;
    list-style: none;
    padding: 1%;
  }

  .menu-title{
    margin: 0px 10px 0px 10px;
    padding-bottom: 5px;;
  }

  .side-bar li{
    border: .5px solid #9f8686;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: .8em;
    text-align: left;
    text-transform: lowercase;
    letter-spacing: .7px;
    margin: 0;
    padding: 8px;
    width: 90%;
  }

  .side-bar li:hover{
    border-left: 4px solid orangered;
    padding: 9px;
  }

  .side-bar a {
    color: rgb(97, 249, 213);
    list-style-type: none;
  }

  .search-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #54b19e;;
    height: 4em;
  }

  .search-bar i{
    padding: 1em;
  }

  .search-box {
    margin: 0em 2em 0em 2em;
  }

  .title-section {
    color: #4fb29c;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #2badd982;
    justify-content: space-between;
    margin-left: 1%;
    padding: 2% 0% 2% 2%;
 
  }
  .title {
    font-weight: 500;
  }
  .location{
    font-size: .7em;
  }

  .second-section {
    align-self: end;
    flex-wrap: wrap;
    padding-left: 45%;
}
  .playing-button {
    border-radius: 15px;
    border: none;
    font-size: .6em;
    padding: 2% 8% 2% 8%;
  }
  .control-button{
    display: inline-block;
    border: none;
    border-radius: 50%;
    padding: 1%;
    margin-left: 2%;
  }

  .title-section button:hover,
  button:focus {
      background: #7397c2;
      transform: scale(0.99);
  }
  .tab-section {
    margin: 0;
  }

  .tab-section ul {
    background-color: #9764ba;
    border-bottom: 4px solid #7397c2;
    color: #ecdee3;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .7em;
    justify-content: space-start;
    list-style-type: none;
    opacity: .9;
    margin: 0%;
    margin-left: 1%;
    padding: 1em;
    padding-bottom: 0em;
    text-transform: uppercase;
  }
  
  .tab-section li {
    padding: 1%;
    font-size: 0.8em;
  }

  .tab-section li:hover{
    border-bottom: 4px solid #95b7a0;
    font-weight: bolder;
  }

  .main-container {
    background-color: rgb(154, 127, 174);
    display: grid;
    grid-template-rows: repeat(5, 10fr);
    grid-template-columns: repeat(5, 10fr);
}

.main-container {
  box-shadow: inset 10px 10px 34px -17px rgba(0,0,0,0.75);
  margin-left: 1%;
  padding: 3%;
}

.main-container img{
  background-color: rgb(249, 150, 97);
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  text-align: center;
  opacity: .7;
  padding: .10em;
  /* width: 100px; */
}

